<div class="absolute bottom-8 right-1/2 translate-x-1/2 text-neutral-600">
  <span
    ><sup>*</sup>No render blocking JavaScript bundles were shipped in the
    loading of this website.</span
  >
</div>
